[general]
renderer=HTML5
copy-theme-extras=yes
plugins=plastexdepgraph plastexshowmore leanblueprint
# URL where your project's generated Lean docs are hosted.
# Until you publish docs, this points at Mathlib so \lean{Even} still works.
# For local declarations like SimpleBlueprint.sum_of_evens the link will 404
# until you host your own docs.
dochome=https://anirudhsk.github.io/orp_hardness/docs

[document]
toc-depth=2
toc-non-files=True

[files]
directory=../web/
split-level=1

[html5]
localtoc-level=2
extra-css=extra_styles.css
mathjax-dollars=False
